{{#> layout title="General"}}
<h1>General</h1>
<p>As you can see from the <a href="{{resolve "documentation/quickstart/example.html"}}">expression calculator
    example</a>, the grammar definition language of JS/CC consists of two parts: the token definition part and the
    grammar part, which defines the language's grammar using a Backus-Naur-Form-styled meta-language. The two parts are
    separated by a <code>##</code> symbol, which could be seen as a "separating line" between both parts.</p>
<p>Some things in the current version of the JS/CC grammar definition language are a little bit nasty and need to be
    reworked in the future &mdash; like this <code>##</code> separator&hellip;</p>
{{/layout}}