<footer>
    <p>The JS/CC project is maintained by <a href="https://github.com/abrobston">Andrew Brobston</a>. Documentation is
        by Jan Max Meyer and edited by Andrew Brobston. Contributions to this website are welcome. Please see the <a
                href="https://github.com/abrobston/jscc/blob/gh-pages/README.md">README</a> for further information.</p>
    <p><a href="{{resolve "licenses.html"}}">Licenses</a> | <a href="{{resolve "contact.html"}}">Contact</a>
    </p>
    <p>Hosted on GitHub Pages</p>
</footer>
