<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>JS/CC &mdash; {{title}}</title>
    <link id="main-stylesheet" rel="stylesheet" href="{{resolve "stylesheets/main-light.css"}}"/>
</head>
