{{#> layout title="Contact"}}
  <h1>Contact</h1>
  <h2>Issues and Feature Requests</h2>
  <p>Please see the <a href="https://github.com/abrobston/jscc/issues">GitHub issues page</a> and,
  if your issue or feature request has not already been made, please create a new issue.</p>
  <h2>Contributors</h2>
  <ul>
      <li>Jan Max Meyer: contact &lt;at&gt; phorward-software &lt;dot&gt; com</li>
      <li>Andrew Brobston: andrew &lt;at&gt; brobston &lt;dot&gt; com</li>
  </ul>
{{/layout}}