{{#> layout title="Getting Started"}}
<h1>Getting Started</h1>
<h2>Download JS/CC</h2>
<h3>GitHub</h3>
<p>The repository is at <a href="https://github.com/abrobston/jscc">https://github.com/abrobston/jscc</a>.
    Follow the instructions in <a href="https://github.com/abrobston/jscc/blog/master/README.md">README.md</a>
    or in <a href="{{resolve "documentation/quickstart/building.html"}}">Building JS/CC for your Platform</a>
    to build.</p>
<h3>npm</h3>
<p>JS/CC is available on npm as the package "jscc-parser":</p>
<pre>
<code class="language-bash">
    npm install jscc-parser --save
</code>
</pre>
<h3>bower</h3>
<p>JS/CC is experimentally available on bower as package "jscc-parser":</p>
<pre>
<code class="language-bash">
    bower install jscc-parser
</code>
</pre>
{{/layout}}