{{#> layout title="Introduction"}}
<div class="jumbotron">
    <div class="h1 text-center">JS/CC</div>
    <p class="text-center">JS/CC LALR(1) Parser Generator: A LALR(1) Parser Generator for JavaScript written in JavaScript</p>
</div>
<header>

    <p class="view"><a href="https://github.com/abrobston/jscc">View the Project on GitHub <small>abrobston/jscc</small></a></p>


    <ul>
        <li><a href="https://github.com/abrobston/jscc/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/abrobston/jscc/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/abrobston/jscc">View On <strong>GitHub</strong></a></li>
    </ul>
</header>
<section>
    <p>This is not the official page at this time, and there is no content yet.  See the <a href="http://jscc.phorward-software.com/">official page</a> instead.</p>
</section>
{{/layout}}
