{{#> layout title="Licenses"}}
    <h1>Licenses</h1>
    <h2>JS/CC Software</h2>
    <p>JS/CC is released under the terms of the BSD 3-Clause license:</p>
    <div class="well">
        JS/CC LALR(1) Parser Generator<br/>
        Copyright &copy; 2007&ndash;2016 by Phorward Software Technologies; Jan Max Meyer; Brobston Development, Inc.;
        and other contributors<br/>
        <a href="http://jscc.brobston.com/">http://jscc.brobston.com</a> ++ contact&lt;&lt;AT&gt;&gt;phorward-software&lt;&lt;DOT&gt;&gt;com
        <hr/>
        <p>Redistribution and use in source and binary forms, with or without
            modification, are permitted provided that the following conditions are
            met:</p>
        <ol>
            <li>Redistributions of source code must retain the above copyright
                notice, this list of conditions and the following disclaimer.
            </li>
            <li>Redistributions in binary form must reproduce the above copyright
                notice, this list of conditions and the following disclaimer in the
                documentation and/or other materials provided with the distribution.
            </li>
            <li>Neither the names of the copyright holders nor the
                names of their contributors may be used to endorse or promote
                products derived from this software without specific prior
                written permission.
            </li>
        </ol>
        <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
            &quot;AS IS&quot; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
            TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
            PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS
            BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
            EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
            PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
            OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
            WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
            OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
            ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
    </div>
    <h2>Website and Documentation</h2>
    <p>Any source code displayed on or used in this website is subject to the terms of its own
        license. Other content comprising this website and the documentation it contains, except where otherwise
        indicated, are licensed under the terms of the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.</p>
{{/layout}}