{{#> layout title="Future Plans"}}
<h1>Future Plans</h1>
<p>Development on JS/CC still moves on, and the more people using it, the more fun there is in developing it further.
    Both the academic and productive ideas behind JS/CC will be followed. For future releases, a more yacc-styled
    behavior is planned, plus some features taken from several other, popular parser generator projects. This includes
    virtual production handling, embedded semantics, better analysis of the parse table generation process, and much
    more.</p>
<p>An alternative JS/CC front-end with a lex/yacc-like syntax would complete the whole system.</p>
<p>It would even be possible to make JS/CC a parser generator for other target platforms than ECMAScript &mdash; but
    these are just ideas for now!</p>
{{/layout}}