{{#> layout title="The Intention Behind JS/CC"}}
<h1>The Intention Behind JS/CC</h1>
<p>JS/CC is an open source project released under the terms and conditions of the BSD Three-Clause License. When I
    started coding JS/CC, it was just planned as a quick-and-dirty fun project of implementing a LALR(1) parser
    generator in JavaScript for educational purposes, but it rapidly grew up because I added tons of more, useful
    features over time, making it a really productive and usable system for compiler writers and people who are just
    interested in how a parser generator works. The best of all within this software is that JS/CC is capable of
    compiling a complete, working parser for any language from a grammar specification with embedded, semantic code
    segments only in a normal web browser like Mozilla Firefox.</p>
<p>Since the first public release v0.24 of JS/CC, many things have changed in this project. It received recommendations
    and accolades, people started to use it for real productive and academic issues, and some solved bugs and ported it
    to other platforms. I would like to specially thank Louis P. Santillan for his work at this point. He ported JS/CC
    to the platforms Rhino and V8, and he helped to restructure the whole package.</p>
<p>First focused on Windows and JScript as default platforms for the console version of JS/CC, the project's maintenance
    changed over to Linux. Both Windows and Linux will be supported for core development now and in the future.</p>
{{/layout}}