{{#> layout title="Some Words by the Author"}}
<h1>Some Words by the Author</h1>
<p>The kernel of JS/CC is entirely written and maintained by me, Jan Max Meyer. I'm a software developer and hobbyist
    programmer from Germany and was born in 1985. The art of compiler design is a study on my own, because it very much
    interests me and makes a lot of fun. This project is one result of this study. I never studied on computer sciences
    yet, but plan this somewhere in the future.</p>
<p>In my professional life, I work as application software developer at a local business software company. As one of my
    hobbies, I also run my own, tiny software company &mdash; J.M.K.S.F. Software Technologies &mdash; from home, where
    I'm in writing programs and solutions around the area of software development tools, application software, and some
    web solutions. JS/CC is a non-profit-based product of this business.</p>
<p>There is also another project in the area of computer-aided recognizer generation where I'm currently on, but more
    about this will be found out when it's finished &mdash; and if I really release it.</p>
<p>But for now, I wish you much fun and success on using JS/CC. I hope that this software will be useful in your
    business or just helps you on understanding how bottom-up parsing works a little more clearly.</p>
<p>One thing I would deeply appreciate is, if you have the fun and engagement on developing JS/CC further, adding new
    features, or just making it more popular.</p>
<p>If you really like JS/CC and if you want to give me a smart pleasure for my efforts in developing this software, I
    would be very happy if you send some money to the WDCS &mdash; Whale and Dolphin Conservation Society &mdash; who
    fights against the senseless killing and capturing of marine animals, like whales and dolphins, which is
    unfortunately the case in some countries of the world today.</p>
<p>We must keep this world for us and our children, and stop this senseless killing of endangered animals. And in my
    opinion, every second counts!</p>
<p>To support the life of whales and dolphins in our oceans, please visit <a href="http://www.wdcs.org/">http://www.wdcs.org/</a>.</p>
<p>Thank you very much.</p>
{{/layout}}